

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    line-height: 1.42857143;
}


* {
    box-sizing: border-box;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

code {
    background-color: #f3f6fa;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

li {
    margin: 10px 0;
}

a {
    color: #049E88;
    text-decoration: none;
}

    a:hover {
        color: #4e5251;
    }

h1, h2, h3 {
    color: #159957;
    font-weight: 200;
}


.project-name {
    color: #fff;
    font-size: 3.3rem;
    margin: 0;
    opacity: 0.9;
    font-weight: 800;
}

.project-tagline {
    font-weight: 200;
    color: #eee;
    opacity: 0.9;
}


.page-header {
    background: #159957;
    text-align: center;
    color: #ccc;
    padding: 50px;
    background-image: linear-gradient(120deg, #159957, #747B7A);
}


.left-section {
    float: left;
    width: 70%;
    margin-right: 5%;
    position: relative;
}

    .left-section > * {
        float: left;
        width: 100%;
        clear: both;
    }

.right-section {
    float: left;
    width: 25%;
    padding: 10px 0 10px 30px;
    margin-top: 30px;
}

.site-footer {
    width: 100%;
    display: block;
    clear: both;
}

.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc;
    border-color: rgba(204, 204, 204, 0.4);
    border-radius: 4px;
    color: #ccc;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    background: rgba(34, 34, 34, 0.08);
    -moz-transition: ease-in-out background 300ms, ease-in-out color 300ms, ease-in-out border 300ms;
    -o-transition: ease-in-out background 300ms, ease-in-out color 300ms, ease-in-out border 300ms;
    -webkit-transition: ease-in-out background 300ms, ease-in-out color 300ms, ease-in-out border 300ms;
    transition: ease-in-out background 300ms, ease-in-out color 300ms, ease-in-out border 300ms;
}

    .btn:hover {
        background: rgba(34, 34, 34, 0.22);
        color: #fff;
    }



.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



.aside-wrapper.affix {
    position: fixed !important;
    width: 263px;
    top: 0;
}


.nav-stacked .active > a {
    display: inline-block;
    background: #E8E8E8;
}


.hidden{
    display: none;
}

ul.active > ul.hidden {
    display: inline-block;
}

li.active > ul.hidden {
    display: inline-block;
}





.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}


    .nav > li {
        position: relative;
        display: block;
    }

        .nav > li > a {
            position: relative;
            display: block;
            width: 100%;
            padding: 10px;
        }

        .nav > li a:hover, .nav > li a:focus {
            text-decoration: none;
            background-color: #159957;
        }







.nav-stacked > li {
    float: none;
}

    .nav-stacked > li + li {
        margin-top: 2px;
        margin-left: 0;
        // no need for this gap between nav items;
    }










.nav-tabs .dropdown-menu {
    margin-top: -1px;
}
